@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 
  background-color: rgba(255, 218, 185, 0.719);
}
/* layout */
.main {
  margin: 10rem 10rem;
  border-radius: 15px;
  justify-self: center;
  display: flex;
  width: 35%;
  flex-direction: column;
  font-family: outfit;
  padding: 38px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.158) 0px 2px 10px 4px;
 background-color:white;
}
p{
  color: hsl(30, 10%, 34%);
}
 /* image div */ 
 
.sub1 img{
  position: relative;
  width: 100%;
  border: none;
  border-radius: 13px;
}

/* text */

.text{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}
/* border-line */
.line{
  border-bottom: solid 2px hsla(32, 10%, 34%, 0.171);
  padding-bottom: 1.3rem;
}
/* main-head text */
.sub2{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sub2 h1{
  font-family: "young serif";
  font-weight: 550;
  font-size: 2.3rem;
  color: hsl(24, 5%, 18%);
}

/* preparation-text */

.Pre{
  display: flex;
  flex-direction: column;
  padding:  2rem;
  gap: 1rem;
  color: hsl(30, 10%, 34%);
  background-color: hsla(332, 51%, 32%, 0.034);
  border-radius: 15px;

}
.order {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
}
.order li::marker{
  color: hsl(14, 45%, 36%);
  font-weight: bolder;
}
 h2{
  color: hsl(14, 45%, 36%);
  font-family: "young serif";
  font-weight : 500;
  font-size: 1.8rem;
}
.Pre h3{
  color: hsl(332, 51%, 32%);
  font-size: 1.3rem;
}
.pre-ul{
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  gap: 10px;
} 

/* ingredient */

.sub3{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: hsl(30, 10%, 34%);

}
.ingri{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.02rem;

}

/* instructions */

.sub4{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: left;
}

.steps{
  list-style-position: outside;
  margin-bottom: 1.4rem;
  padding-left: 1.5rem;
}
.steps li p{
  margin-left: 10px;
  line-height: 1.5rem;
}

/* nutrition */

.sub5{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

tr td{
  padding: 10px;
 border-bottom: solid 2px hsla(32, 10%, 34%, 0.171);
 color: hsl(30, 10%, 34%);

}

.leg{
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}



@media (max-width: 380px){

  .main {
    border-radius: 15px;
    justify-self: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: outfit;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.158) 0px 2px 10px 4px;
   background-color:white;
   margin: 0;
   padding: 0;
  }
.sub1 img{
  padding: 0;
  width: 100%;
  border-radius: 0;
}
.text{
  margin-top: 0;
  padding: 35px;
}
}

/* typography */

@media (max-width: 380px) {

  .sub2 h1{
    font-family: "young serif";
    font-weight: 550;
    font-size: 2rem;
    color: hsl(24, 5%, 18%);
  }
  .Pre{
    display: flex;
    flex-direction: column;
    padding:  1.9rem;
    gap: 1rem;
    color: hsl(30, 10%, 34%);
    background-color: hsla(332, 51%, 32%, 0.034);
    border-radius: 15px;
  
  }
  .pre-ul{
    list-style-position: outside;
    margin-left: 25px;
  } 
}








